name: Full CI/CD Pipeline - DockerHub + Minikube

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: self-hosted   # Windows Runner

    steps:
      # -------------------------
      # Step 1: Checkout Code
      # -------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # Step 2: Login to DockerHub
      # -------------------------
      - name: Login to DockerHub
        shell: powershell
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}


      # -------------------------
      # Step 3: Build Docker Image
      # -------------------------
      - name: Build Docker Image
        shell: powershell
        run: |
          docker build -t "${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest" .

      # -------------------------
      # Step 4: Push Image to DockerHub
      # -------------------------
      - name: Push Image
        shell: powershell
        run: |
          docker push "${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest"

      # step 5: Check minikube is running ot not

      - name: Ensure Minikube is running
        shell: powershell
        run: |
            minikube status
            if ($LASTEXITCODE -ne 0) {
            echo "Starting Minikube..."
            minikube start --driver=docker
            }

      # -------------------------
      # Step 5: Configure kubeconfig for Windows Runner
      # -------------------------
      - name: Setup kubeconfig
        shell: powershell
        run: |
          $env:KUBECONFIG = "C:\actions-runner\.kube\config"
          kubectl config use-context minikube

      # -------------------------
      # Step 6: Apply YAMLS
      # -------------------------
      - name: Apply Kubernetes Manifests
        shell: powershell
        run: |
          kubectl apply -f k8s/k8s-deployment.yaml
          kubectl apply -f k8s/k8s-service.yaml


      # -------------------------
      # Step 7: Update Deployment Image
      # -------------------------
      - name: Update Deployment Image
        shell: powershell
        run: |
          kubectl set image deployment/k8s-web-hello-deployment k8s-web-hello-app="***/k8s-web-hello:latest"


      # -------------------------
      # Step 8: Wait for Rollout
      # -------------------------
      - name: Wait for Deployment to complete
        shell: powershell
        run: |
          kubectl rollout status deployment/k8s-web-hello-deployment

      # -------------------------
      # Step 9: Show Status
      # -------------------------
      - name: Show Pods & Services
        shell: powershell
        run: |
          kubectl get pods -o wide
          kubectl get svc -o wide
